$testColor: black;

nav {
  background-color: inherit;
  border: none;
  text-align: center;
}

.nav-name {
  font-family: Orkney;
  width: 100%;
  font-size: 2.5em;
  opacity: 1;
  color: $testColor;
  @extend nav;
}

.navbar-right {
  display: none;
}

.hamburger {
  width: 40px;
}

.hamburger:hover {
  cursor: pointer;
}
.rotate {
  animation-name: rotate;
  animation-duration: 1s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
