<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand nav-name center" href="#">Brendan Grubb</a>
    </div>

    <img class="hamburger" src="./../assets/img/hamburger.png" (click)="showMenu()">

    <ul class="nav navbar-nav navbar-right display-none">
      <li><a href="/work">Work</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/resume">Education and Employment</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
