$brk1: 768px;
$brk2: 992px;

a {
  color: inherit;
  padding: 10px;
}

.text-one {
  text-align: center;
  word-spacing: 1em;
  margin: 50px;
  margin-bottom: 25px;
  font-size: 1.4em;
  letter-spacing: .1em;
  @media (min-width: $brk1) {
    font-size: 2em;
  }
}

.email {
  // display: flex;
  // justify-content: center;
  font-size: .8em;
  @media (min-width: $brk1) {
    font-size: 1em;

  }
}
