<div class="work">
  <!-- INTRO TEXT -->
  <p class="page-intro-outro">
    Here are some of my recent projects
  </p>
  <br>
  <div class="row">
    <!-- FIRST CUBE -->
    <div class="col-md-6">
      <div class="work-cube">
        <div class="work-cube-text">
          <p class="text-header">Wedding Hub</p>
          <br>
          <p class="text-body-one">
            Wedding Hub is a clone of a wedding website I made for my wife and I. In addition to being able to RSVP, guests can log in to their account to view and change their status and entries.
          </p>
          <br>
          <p class="more-info-one">
            Technologies used - Angular4, HTML, CSS<br><br>
            <a target="_blank" href="https://github.com/Brendangrubb/wedding-site">Link to GitHub Repository</a>
            <br><br><br>
          </p>
        </div>
        <div class="center">
          <p class="body-links">
            <a target="_target" href="https://samantha-and-brendan.firebaseapp.com/">Deployed Site</a> &nbsp;||&nbsp; <span (click)="showMoreInfoOne()" class="info-link">More Information</span>
          </p>
        </div>
      </div>
      <div class="yank-hr">
        <hr>
      </div>
    </div>
    <!-- SECOND CUBE -->
    <div class="col-md-6">
      <div class="work-cube">
        <div class="work-cube-text">
          <p class="text-header">Star Trek Club</p>
          <br>
          <p class="text-body-two">
            With this club management app a user can maintain the membership roster of a club. This app's functionality is demonstrated with a sample organization called Star Trek Club<br>
            <span class="add-break">
              <br>
            </span>
          </p>
          <p class="more-info-two">
            Technologies used - Angular2, HTML, CSS<br><br>
            <a target="_blank" href="https://github.com/Brendangrubb/club-manager">Link to GitHub Repository</a>
            <br><br><br>
          </p>
        </div>
        <div class="center">
          <p class="body-links">
            <a target="_blank" href="https://club-manager-e168f.firebaseapp.com/">Deployed Site</a> &nbsp;||&nbsp; <span (click)="showMoreInfoTwo()" class="info-link">More Information</span>
          </p>
        </div>
      </div>
      <div class="yank-hr">
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- THIRD CUBE -->
    <div class="col-md-6">
      <div class="work-cube">
        <div class="work-cube-text">
          <p class="text-header">Stolen Bike Locator</p>
          <br>
          <p class="text-body-three">
            This web app will allow a user to search for stolen bikes after entering certain criteria to filter the search.<br><br><br>
          </p>
          <p class="more-info-three">
            Technologies Used - Javascript, GULP, Bower, NPM, Bike Index API, HTML, CSS<br><br>
            <a target="_blank" href="https://github.com/Brendangrubb/bike-app">Link to GitHub Repository</a><br><br>
          </p>
        </div>
        <div class="center">
          <p class="center body-links">
            <a target="_blank" href="/no-deploy">Deployed Site</a> &nbsp;||&nbsp; <span (click)="showMoreInfoThree()" class="info-link">More Information</span>
          </p>
        </div>
      </div>
      <div class="yank-hr">
        <hr>
      </div>
    </div>
    <!-- FOURTH CUBE -->
    <div class="col-md-6">
      <div class="work-cube">
        <div class="work-cube-text">
          <p class="text-header">Hangman Wars</p>
          <br>
          <p class="text-body-four">
            Hangman Wars is an interactive word game based on the game Hangman. Players take on the role of a warlord seeking to conquer the land, and progress by deducing the secret phrases of the authors of the land.
          </p>
          <p class="more-info-four">
            Technologies used - PHP, Silex, Javascript<br><br>
            <a target="_blank" href="https://github.com/Brendangrubb/hangman-wars">Link to GitHub Repository</a><br><br><br>
            <span class="yank-hr"><br></span>
          </p>
        </div>
        <div class="center">
          <p class="body-links">
            <a target="_blank" href="/no-deploy">Deployed Site</a> &nbsp;||&nbsp; <span (click)="showMoreInfoFour()" class="info-link">More Information</span>
          </p>
        </div>
      </div>
      <div class="yank-hr">
        <hr>
      </div>
    </div>
  </div>
  <!-- OUTRO TEXT -->
  <p class="page-intro-outro">
    Haven't had enough? Check out my <a href="https://github.com/Brendangrubb">GitHub</a> page for more!
  </p>
<!-- CLOSE WORK DIV -->
</div>
