$brk1: 768px;
$brk2: 992px;
$brk3: 1200px;
$brown1: rgba(128,82,46,.8);
$brown2: rgba(230,169,62,.1);
$brown3: rgba(230,169,62,.4);


.page-intro-outro {
  font-size: 1.8em;
  text-align: center;
}

a {
  color: inherit;
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
}

a:hover, .info-link:hover {
  color: $brown1;
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
}

.info-link {
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
}

.info-link:hover {
  text-decoration: underline;
}

.work-cube {
  min-height: 275px;
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  border-radius: 5px;
  margin-bottom: 8%;
  overflow: scroll;
  @media (min-width: $brk2) {
    // margin-left: 100px;
    // margin-right: 100px;
  }
}

.work-cube:hover {
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
}

.work-cube-text {
  padding: 3%;
  @media (min-width: $brk1) {
    font-size: 1.2em;
  }
  @media (min-width: $brk2) {
    padding: 0%;
  }

}

.text-header {
  font-size: 2em;
  text-align: left;
  text-decoration: underline;
}

.text-body {
  font-size: 1.1em;
  letter-spacing: .1em;
  text-align: right;
  align-items: center;
}

.text-body-one, .text-body-two, .text-body-three, .text-body-four {
  @extend .text-body;
}

.more-info {
  @extend .text-body;
  display: none;
}

.more-info-one, .more-info-two, .more-info-three, .more-info-four {
  @extend .more-info;
}

.body-links {
  @media (min-width: $brk1) {
    font-size: 1.2em;
  }
  @media (min-width: $brk2) {
    font-size: 1.13em;
  }
}

.display-none {
  display: none;
}

.yank-hr {
  @media (min-width: $brk2) {
    display: none;
  }
}

.add-break {
  display: none;
  @media (min-width: $brk2) {
    display: unset;
  }
}
