<p>
  <u>Wedding Hub</u><br>
  Wedding Hub is a clone of a wedding website I made for my wife and I. In addition to bring able to RSVP, guests can log in to their account to view and change their status and entries. Click this <a href="https://samantha-and-brendan.firebaseapp.com/">link</a> to check it out! <br>
  Technologies used - Angular4, HTML, CSS<br>
  <br>
  <u>Star Trek Club</u><br>
  With this application, a user can manage the membership roster of a club. This app's functionality is demonstrated with a sample organization called Star Trek Club: a group of Trek fans that get together monthly to watch and discuss episodes from the Star Trek franchise. A user can view a list of all members of Star Trek Club, plus member detail pages where their profile is flushed out. An admin is able to add, edit or delete members. Click this <a href="https://club-manager-e168f.firebaseapp.com/">link</a> to check it out!<br>
  Technologies used - Angular2, HTML, CSS<br>
  <br>
  <u>Lithics Band Site</u><br>
  I built a website for the Portland based band Lithics. Click this link to check it out!<br>
  Technologies used - Drupal 7, Javascript, HTML, CSS<br>
  <br>
  <u>Stolen Bike Locator</u>
  This web app will allow a user to search for stolen bikes after entering certain criteria to filter the search. Click this link to check it out!<br>
  Technologies Used - Javascript, GULP, Bower, NPM, Bike Index API, HTML, CSS<br>
  <br>
  <u>Hangman Wars</u><br>
  Hangman Wars is an interactive word game based on the classic Hangman Game. Players take on the role of a warlord seeking to conquer the land, and the only path to victory is to empower their soldiers by deducing the secret phrases of the authors of the land. Each round of play, the player will select an author from the region and be given a hidden phrase taken from their work. They must guess each word in the phrase letter by letter, and when they guess incorrectly, a soldier dies. When they guess the whole phrase, their soldiers assault the keep of the castle, and if enough survive, the player may conquer the next region. When all five regions are conquered, they are declared the victor! Click this link to check it out!<br>
  Technologies used - PHP, Silex, Javascript<br>
  <br>
  Haven't had enough? Check out my <a href="https://github.com/Brendangrubb">Github</a> page for a list of past projects
</p>
