$border-color: rgba(128,84,47,.8);

.page-intro {
  font-size: 1.8em;
  text-align: center;
}

a {
  color: inherit;
  transition: .5s;
  -webkit-transition: .5s;
  -ms-transition: .5s;
}

a:hover, .info-link:hover {
  color: $border-color;
  transition: .5s;
  -webkit-transition: .5s;
  -ms-transition: .5s;
}

.info-link {
  transition: .5s;
  -webkit-transition: .5s;
  -ms-transition: .5s;
}

.info-link:hover {
  text-decoration: underline;
}

.work-cube {
  width: 100%;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-bottom: 8%;
  overflow: scroll;
}

.work-cube:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.work-cube-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3%;
}

.text-header {
  font-size: 2em;
  text-decoration: underline;
}

.text-body {
  font-size: 1.1em;
  letter-spacing: .1em;
}

.text-body-one, .text-body-two, .text-body-three, .text-body-four {
  @extend .text-body;
}

.more-info {
  @extend .text-body;
  display: none;
}

.more-info-one, .more-info-two, .more-info-three, .more-info-four {
  @extend .more-info;
}

.body-links {
  position: absolute;
  bottom: 0;
}

.display-none {
  display: none;
}
