<br>
<p class="skills-title">I have experience with a diverse range of web technologies but I'm always looking to pick up new skills and deepen my knowledge of existing ones. Here's a list of some web technologies and concepts I have worked with recently. </p>
<br><br>
<div class="row">
  <div class="col-md-6">
    <p class="skills-title-two">Languages</p>
    <p class="skills-body">Javsacript, PHP</p>
    <br>
    <p class="skills-title-two">Frontend</p>
    <p class="skills-body">HTML, CSS, SCSS, jQuery, Typescript, Twig, Bootstrap, GSAP, Scrollmagic, Responsive Web Design</p>
    <br>
    <p class="skills-title-two">Frameworks / CMS</p>
    <p class="skills-body">Angular, Ember, Silex, Drupal, Magento, Wordpress</p>
    <br>

  </div>
  <div class="col-md-6">
    <p class="skills-title-two">Drupal</p>
    <p class="skills-body">Drush, custom module development, custom theming, Ctools, Views</p>
    <br>
    <p class="skills-title-two">Databases</p>
    <p class="skills-body">MAMP, MySQL, Firebase</p>
    <br>
    <p class="skills-title-two">Other Experience</p>
    <p class="skills-body">Git, Command Line, BDD, AJAX, REST, Pair Programming, Star Trek Trivia</p>
  </div>
</div>
<div class="spacer">

</div>
