<p>
  <!-- The bulk of my work realates to Javascript, PHP and Drupal. I have experience with several frameworks and frontend libraries such as JQuery, Bootstrap, GSAP, ScrollMagic, but I'm always looking for excuses to learn new technologies. -->
Frontend Experience - HTML, CSS, SCSS
<br>
Language Experience - Javascript, PHP
<br>
Framework Experience - Silex(php), Angular(js), Ember(js)
<br>
CMS Experience - Drupal, Magento
<br>
Library/Plugin Experience - Bootstrap, GSAP, Scrollmagic
<br>
Drupal Experience - Module development, custom theming
<br>
Database Experience - MySQL, Firebase
<br>
Other Experience - Typescript, Git, Command Line
</p>
