<div class="center">
  <p (click)='showWork()' class="header work-header">
    <u>Employment</u>
  </p>
  <p (click)='showSchool()' class="header school-header">
    <u>Education</u>
  </p>
</div>

<div class="work-body">
  <p class="body-title">
    Web Development Contractor at
    <span class="body-title-two">Harris Wine Merchant</span>
  </p>
  <p class="body-date">
    (7/17 to Present)
  </p>
  <p class="body-body">
    • Administer inventory changes via Magento backend <br>
    • Use CSS and Javascript to create feature pages for regional products <br>
    • Use Mailchimp to layout and style monthly newsletter <br>
    • Work with owner to develop marketing strategies
  </p>
  <br>
  <p class="body-title-two">
    Manager at
    <span class="body-title">Everyday Music</span>
  </p>
  <p class="body-date">
    (2007-2017)
  </p>
  <p class="body-body">
    • Maintained inventory levels with monthly ordering from 14 vendors <br>
    • Created and analyzed weekly and monthly sales reports <br>
    • Consistently hit or surpassed weekly sales goals <br>
    • Created and maintained customer service policy <br>
    • Participated in the creation of advertising campaigns <br>
    • Mentored and trained employees joining management team <br>
    • Responsible for training all new hires <br>
    • Responsible for employee scheduling, hiring and terminations <br>
    <br>
  </p>
  <br>
  <p class="body-title-two">
    Founder/Owner/Manager of
    <span class="body-title">Ancient Heat Disco</span>
  </p>
  <p class="body-date">
    (2010 to 2016)
  </p>
  <p class="body-body">
    •	Maintenance of Wordpress website and online store  <br>
    •	Managed the recording, mixing, production and promotion of 3 albums <br>
    •	Created and enforced a budget that allowed for profitable touring and merchandise production <br>
    •	Wrote new material for a 10-piece disco band, Ancient Heat <br>
    •	Responsible for scheduling weekly rehearsals and booking monthly performances
  </p>
</div>


<div class="school-body">
  <p class="body-title">
    Epicodus — Certificate of Web Development <span class="body-date">(1/17 to 6/17)</span>
  </p>
  <p class="body-body">
    •	Gained a strong foundation in Javascript, PHP/Drupal, HTML and CSS<br>
    •	Worked with server and client-side MVCs (Silex, Ember, Angular2)<br>
    •	Experience with relational and real-time databases (SQL, Firebase)<br>
    •	Worked in pairs and teams to find creative solutions to daily coding challenges <br>
    •	Learned benefits of BDD and writing DRY code<br>
    - At Epicodus I learned how to build complex web applications using PHP, Drupal, Javascript, HTML and CSS. The fast paced, group-based experience provided by Epicodus gave me the opportunity to lean and retain a lot of new information in a short period of time. Ive sharpened my ability to solve problems efficiently, honing in on what I dont know and breaking the learning process into incremental steps.
  </p>
  <p class="body-title">
    Florida Atlantic University - BA in Theatre Performance, Minor in Technical Theatre Production <span class="body-date">(2001 to 2003)</span>
  </p>
  <p class="body-body">
    Scholarships/Accolades earned include Summa Cum Laude, Bright Futures Scholarship, Broadway Series Scholarship, Esther Griswold Scholarship, Phi Theta Kappa, Deans List
  </p>
  <p class="body-title">
    Broward College - AAin Theatre Performance, Minor in Psychology <span class="body-date">(1999 to 2001)</span>
  </p>
  <p class="body-body">
    Scholarships/Accolades earned include Phi Theta Kappa, Deans List
  </p>
</div>
