.header {
  padding: 10px;
  font-size: 1.5em;
  letter-spacing: .2em;
}

.work-body {
  // display: none;
}

.school-body {
  display: none;
}

.body-title {
  font-size: 1.5em;
}

.body-title-two {
  font-size: 1.2em;
}

.body-title-three {
  font-size: 1.1em;
}

.body-body {
  font-size: 1.05em;
}

.body-date {
  font-size: .95em;
}
