<p>
  <u>Work Experience</u><br>
  <br>
  Web Development Contractor at Harris Wine Merchant<br>
  Dates Employed - June 2017 to Present <br>
  • Administer inventory changes via Magento backend <br>
  • Use CSS and Javascript to create feature pages for regional products <br>
  • Use Mailchimp to layout and style monthly newsletter <br>
  • Work with owner to develop marketing strategies <br>
  <br>
  Manager at Everyday Music<br>
  Dates Employed - 2007 to 2017 <br>
  • Maintained inventory levels with monthly ordering from 14 vendors <br>
  • Created and analyzed weekly and monthly sales reports <br>
  • Consistently hit or surpassed weekly sales goals <br>
  • Created and maintained customer service policy <br>
  • Participated in the creation of advertising campaigns <br>
  • Mentored and trained employees joining management team <br>
  • Responsible for training all new hires <br>
  • Responsible for employee scheduling, hiring and terminations <br>
  <br>
  Founder/Owner/Manager of Ancient Heat Disco <br>
  Dates Employed - 2010 to 2016  <br>
  •	Maintenance of Wordpress website and online store  <br>
  •	Managed the recording, mixing, production and promotion of 3 albums <br>
  •	Created and enforced a budget that allowed for profitable touring and merchandise production <br>
  •	Wrote new material for a 10-piece disco band, Ancient Heat <br>
  •	Responsible for scheduling weekly rehearsals and booking monthly performances <br><br><br>
</p>

<p>
  <u>Education</u><br>
  <br>
  Epicodus — Certificate of Web Development <br>
  Dates attended - January 2017 to June 2017 <br>
  •	Gained a strong foundation in Javascript, PHP/Drupal, HTML and CSS<br>
  •	Worked with server and client-side MVCs (Silex, Ember, Angular2)<br>
  •	Experience with relational and real-time databases (SQL, Firebase)<br>
  •	Worked in pairs and teams to find creative solutions to daily coding challenges <br>
  •	Learned benefits of BDD and writing DRY code<br>
  - At Epicodus I learned how to build complex web applications using PHP, Drupal, Javascript, HTML and CSS. The fast paced, group-based experience provided by Epicodus gave me the opportunity to lean and retain a lot of new information in a short period of time. Ive sharpened my ability to solve problems efficiently, honing in on what I dont know and breaking the learning process into incremental steps.<br>
  <br>
  Florida Atlantic University - BA in Theatre Performance, Minor in Technical Theatre Production<br>
  Dates attended - 2001 to 2003<br>
  Scholarships/Accolades earned include Summa Cum Laude, Bright Futures Scholarship, Broadway Series Scholarship, Esther Griswold Scholarship, Phi Theta Kappa, Deans List<br>
  <br>
  Broward College - AAin Theatre Performance, Minor in Psychology<br>
  Dates attended - 1999 to 2001<br>
  Scholarships/Accolades earned include Phi Theta Kappa, Deans List

</p>
