@font-face {
    font-family: 'Orkney';
    src: url('./assets/orkney/orkney-regular.ttf');
    font-style: normal;
    font-weight: bold
}

@font-face {
    font-family: 'Orkney-light';
    src: url('./assets/orkney/orkney-light.ttf');
    font-style: normal;
    font-weight: bold
}

@font-face {
    font-family: 'Orkney-bold';
    src: url('./assets/orkney/orkney-bold.ttf');
    font-style: normal;
    font-weight: bold
}

@font-face {
    font-family: 'Orkney-medium';
    src: url('./assets/orkney/orkney-medium.ttf');
    font-style: normal;
    font-weight: bold
}

/*GENERIC CENTER TAG*/
.center {
  display: flex;
  justify-content: center;
}

/*ALL NON-BODY STYLES*/
.container {
  font-family: Orkney-light;
}

.contact {
  /*position: absolute;*/
  margin-top: 80vh;
}
